
@model IEnumerable<SWAPITestDriveLibrary.Models.PeopleModel>
    @{
        ViewBag.Title = "About";
    }
    <h2>Test</h2>
    
    <table class="table table-condensed table-hover">        
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>            
            <th>@Html.DisplayNameFor(m=>m.Height)</th>            
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m=>item.Name)</td>
            <td>@Html.DisplayFor(m=>item.Height)</td>
            <td></td>
        </tr>
        }
    </table>